.upload-wrapper{
    position: fixed;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0;
}
.img-upload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    background: #fff;
    border-top: 1px solid lightgray;
}
.img-upload progress{
    width: 100%;
    margin: 10px 0;
}

.custom-file-input{
    outline: none;
    margin: 10px;


}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 8px;
    padding: 8px 16px;
    color: #6082a3;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top right, rgba(185, 131, 227, 0.66), rgba(240, 107, 249, 0.47));
}
.custom-caption-input{
    padding: 10px;
    border: 1px solid lightgray;
    outline: none;
}
.img-upload-header{
    text-align: center;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .img-upload{
        width: 80%;
    }
}