*{
  margin: 0;
}
.app{
  height: 100vh;
  background: #fafafa;
  //text-align: center;
}
.app-header{
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app-headerImg{
  height: 2rem;
  object-fit: contain;
}
.app-signup{
  display: flex;
  flex-direction: column;
  //text-align: center;
}
.app-posts{
  padding: 20px;
  padding-bottom: 200px!important;
}
.sorry{
  text-align: center;
  padding-bottom: 4rem;
  color: darkred;
}


@media screen and (max-width: 768px) {
  .app-posts{
    //padding-bottom: 50px;
  }
}
